.brown {
    background-color: brown;
    color: white;
    padding: 1rem 2rem;
}
.orange {
    background-color: orange;
    color: white;
    padding: 1rem 2rem;
}
.red {
    background-color: red;
    color: white;
    padding: 1rem 2rem;
}
.blue {
    background-color: blue;
    color: white;
    padding: 1rem 2rem;
}
div {
    margin: 3rem 1rem;
    padding: 1rem 1rem;
}